<!DOCTYPE html>
<html lang=“en”>
  <head>
    <title>Nutritional Analysis</title>
    <!--both brython.js and brython_stdlib.js files live in the static/ dir-->
    <script type="text/javascript" src="brython.js"></script>
    <script type="text/javascript" src="brython_stdlib.js"></script>
  </head>
  <!--adding custom style tag called yellow-->
  <style>
    yellow {
      background-color: yellow
    }
  </style>
  <body onload="brython()">
    <!--Original version of User Input </h1>-->
    <h1>User Input</h1>
    <script type="text/python3">
      from browser import document, ajax
      import json
      import warnings
      def show_results(response):
          """Show HTML page"""
          if response.status==200 or response.status==0:
              document["result"].html = response.text
          else:
              warnings.warn(response.text)
      def get_output(ev):
          """Get output"""
          req = ajax.ajax()
          req.bind("complete", show_results)
          req.open("POST", "/output", True)
          req.set_header("content-type","application/json")
          data = json.dumps({"calories": document["calories_10pct"].value,
                             "carbs": document["carbs_10pct"].value})
          req.send(data)


      document["click_button"].bind("click", get_output)
    </script>
    <!--Adding labels to the user inputs-->
    <!--<label for="cal">How many calories did you eat today?</label>-->
    <textarea id="calories_10pct"></textarea>
    <!--<label for="carb">How many carbs did you eat today?</label>-->
    <textarea id="carbs_10pct"></textarea>
    <button id="click_button">Click here</button>
    <br></br>
    <h1>User Output</h1>
    <!--try replacing yellow with div to remove the yellow styling-->
    <yellow id="result"></yellow>
  </body>
</html>